# Get all European languages from Ethnologue

Input
- language codes: https://www.ethnologue.com/sites/default/files/LanguageCodes.tab
- country codes: https://www.ethnologue.com/sites/default/files/CountryCodes.tab
- description: https://www.ethnologue.com/codes/code-table-structure

Output
- LangID: ISO 639-3 standard for language identifiers
- CountryID: Main country where used. Two-letter code from ISO3166.
- LangStatus: L(iving), (e)X(tinct)
- Name_lang: Primary name in the country where mainly used
- Name_country: Name of the main country where used.
- Area: must be Europe

In [1]:
import pandas as pd
import os

In [2]:
DATA_FOLDER = "../../data"

In [3]:
countries = pd.read_csv(os.path.join(DATA_FOLDER, "general", "country_codes.tsv"), sep="\t")
display(countries)

    CountryID                  Name      Area
0          AD               Andorra    Europe
1          AE  United Arab Emirates      Asia
2          AF           Afghanistan      Asia
3          AG   Antigua and Barbuda  Americas
4          AI              Anguilla  Americas
..        ...                   ...       ...
237        YE                 Yemen      Asia
238        YT               Mayotte    Africa
239        ZA          South Africa    Africa
240        ZM                Zambia    Africa
241        ZW              Zimbabwe    Africa

[242 rows x 3 columns]

In [4]:
europe = countries.loc[countries["Area"] == "Europe"]
display(europe)
europe.dtypes

    CountryID                    Name    Area
0          AD                 Andorra  Europe
5          AL                 Albania  Europe
10         AT                 Austria  Europe
13         AX           Aland Islands  Europe
15         BA  Bosnia and Herzegovina  Europe
18         BE                 Belgium  Europe
20         BG                Bulgaria  Europe
33         BY                 Belarus  Europe
40         CH             Switzerland  Europe
53         CZ                 Czechia  Europe
54         DE                 Germany  Europe
56         DK                 Denmark  Europe
61         EE                 Estonia  Europe
65         ES                   Spain  Europe
67         FI                 Finland  Europe
71         FO           Faroe Islands  Europe
72         FR                  France  Europe
74         GB          United Kingdom  Europe
78         GG                Guernsey  Europe
80         GI               Gibraltar  Europe
86         GR                  Greece  Europe
93         HR                 Croatia  Europe
95         HU                 Hungary  Europe
97         IE                 Ireland  Europe
99         IM             Isle of Man  Europe
104        IS                 Iceland  Europe
105        IT                   Italy  Europe
106        JE                  Jersey  Europe
124        LI           Liechtenstein  Europe
128        LT               Lithuania  Europe
129        LU              Luxembourg  Europe
130        LV                  Latvia  Europe
133        MC                  Monaco  Europe
134        MD                 Moldova  Europe
135        ME              Montenegro  Europe
139        MK         North Macedonia  Europe
148        MT                   Malta  Europe
161        NL             Netherlands  Europe
162        NO                  Norway  Europe
174        PL                  Poland  Europe
179        PT                Portugal  Europe
184        RO                 Romania  Europe
185        RS                  Serbia  Europe
186        RU      Russian Federation  Europe
192        SE                  Sweden  Europe
195        SI                Slovenia  Europe
196        SK                Slovakia  Europe
198        SM              San Marino  Europe
223        UA                 Ukraine  Europe
228        VA           Vatican State  Europe

CountryID    object
Name         object
Area         object
dtype: object

In [5]:
langs = pd.read_csv(os.path.join(DATA_FOLDER, "general", "lang_codes.tsv"), sep="\t")
display(langs)
langs.dtypes

     LangID CountryID LangStatus                 Name
0       aaa        NG          L               Ghotuo
1       aab        NG          L           Alumu-Tesu
2       aac        PG          L                  Ari
3       aad        PG          L                 Amal
4       aae        IT          L  Albanian, Arbëreshë
...     ...       ...        ...                  ...
7481    zyg        CN          L         Zhuang, Yang
7482    zyj        CN          L     Zhuang, Youjiang
7483    zyn        CN          L      Zhuang, Yongnan
7484    zyp        MM          L          Chin, Zyphe
7485    zzj        CN          L     Zhuang, Zuojiang

[7486 rows x 4 columns]

LangID        object
CountryID     object
LangStatus    object
Name          object
dtype: object

In [6]:
eur_langs = langs.join(europe.set_index("CountryID"), on="CountryID", lsuffix='_lang', rsuffix='_country', how="inner")
display(eur_langs)

     LangID CountryID LangStatus                Name_lang Name_country    Area
4       aae        IT          L      Albanian, Arbëreshë        Italy  Europe
1230    cim        IT          L                 Cimbrian        Italy  Europe
1730    egl        IT          L                  Emilian        Italy  Europe
1912    fur        IT          L                 Friulian        Italy  Europe
2511    ils        IT          L       International Sign        Italy  Europe
...     ...       ...        ...                      ...          ...     ...
6605    vgt        BE          L    Flemish Sign Language      Belgium  Europe
6628    vls        BE          L             West Flemish      Belgium  Europe
6779    wln        BE          L                  Walloon      Belgium  Europe
5682    slv        SI          L                  Slovene     Slovenia  Europe
7265    ysl        SI          L  Slovenian Sign Language     Slovenia  Europe

[293 rows x 6 columns]

In [7]:
eur_langs.loc[eur_langs["LangStatus"] == "X"]

     LangID CountryID LangStatus         Name_lang        Name_country    Area
6901    xas        RU          X             Kamas  Russian Federation  Europe
7270    ysr        RU          X    Yupik, Sirenik  Russian Federation  Europe
5526    sdt        FR          X           Shuadit              France  Europe
5364    rmd        DK          X  Traveller Danish             Denmark  Europe

In [8]:
eur_langs.to_csv(os.path.join(DATA_FOLDER, "general", "european_languages.csv"), index=False)